.login-page-container {
    align-items: center;
    background-color: #3B6BA4;
    background-image: url('../../../assets/main-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 100vw;
}

.login-btn {
    background-image: url('../../../assets/yellow-btn-entrar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 160px;
}

.login-btn:hover {
    background-image: url('../../../assets/yellow-btn-entrar-hover.png');
}

.google-btn {
    background-image: url('../../../assets/btn-backgorund.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row;
    font-size: large;
    height: 70px;
    justify-content: center;
    width: 330px;
}

.haAclf {
    background: rgba(0, 0, 0, 0.8);
}