.waiting-page-container {
    align-items: center;
    background-image: url('../../../assets/main-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 100vw;
}

.waiting-page-div {
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    width: 70vw;
}

.room-id-title {
    font-size: x-large;
}

.waiting-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
}

.leave-btn, .start-match-btn, .ready-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 180px;
}

.start-match-btn {
    height: 70px;
    width: 240px;
}

.leave-btn {
    background-image: url('../../../assets/red-btn-leave.png');
}

.leave-btn:hover {
    background-image: url('../../../assets/red-btn-leave-hover.png');
}

.start-match-btn {
    background-image: url('../../../assets/yellow-btn-start-match.png');
}

.start-match-btn:hover {
    background-image: url('../../../assets/yellow-btn-start-match-hover.png');
}

.ready-btn {
    background-image: url('../../../assets/green-btn-ready.png');
}

.ready-btn:hover {
    background-image: url('../../../assets/green-btn-ready-hover.png');
}
