.waiting-page-container {
    align-items: center;
    background-color: #3B6BA4;
    background-image: url('../../../assets/main-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
}

.waiting-page-div {
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    width: 70vw;
}

/* .waiting-page-container {
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    justify-content: center;
    width: 90vw;
} */

/* .scoreboard-div {
    background-color: #C3C9CD;
    border-radius: 30px;
    height: 15vh;
    width: 20vw;
} */

/* .time-div {
    background-color: #C3C9CD;
    border-radius: 20px;
    height: 10vh;
    width: 15vw;
}

.msg-div {
    color: yellow;
    display: flex;
    font-size: xx-large;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
} */

.sair-btn, .iniciar-partida-btn, .pronto-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 180px;
}

.sair-btn {
    background-image: url('../../../assets/red-btn-sair.png');
}

.sair-btn:hover {
    background-image: url('../../../assets/red-btn-sair-hover.png');
}

.iniciar-partida-btn {
    background-image: url('../../../assets/yellow-btn-iniciarpartida.png');
}

.iniciar-partida-btn:hover {
    background-image: url('../../../assets/yellow-btn-iniciarpartida-hover.png');
}

.pronto-btn {
    background-image: url('../../../assets/green-btn-pronto.png');
}

.pronto-btn:hover {
    background-image: url('../../../assets/green-btn-pronto-hover.png');
}
