#root {
    align-items: center;
    background-color: lightblue;
    background-image: url('../../../public/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.register-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}