.landing-page-container {
    align-items: center;
    background-color: #3B6BA4;
    background-image: url('../../../assets/landing-page.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 100vw;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 35vh;
    text-shadow: 
    -4px -4px 0 black,
    4px -4px 0 black,
    -4px 4px 0 black,
    4px 4px 0 black,
    0px -4px 0 black,
    0px 4px 0 black,
    -4px 0px 0 black,
    4px 0px 0 black;
}

.about {
    margin-top: 24vh;
    max-width: 56%;
    line-height: 1.6;
    position: absolute;
    text-align: center;
    top: 53vh;
}

.go-to-login-btn {
    background-image: url('../../../assets/yellow-btn-play.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 78px;
    width: 210px;
}

.go-to-login-btn:hover {
    background-image: url('../../../assets/yellow-btn-play-hover.png');
}