.logo {
    background-color: black;
    border-radius: 100px;
    height: 200px;
    left: calc(50% - 100px);
    position: absolute;
    text-align: center;
    top: 0.5rem;
    width: 200px;
}

.logo img {
    width: 100%;
}