@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

input {
    background-color: #636769;
    border: none;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: medium;
    height: 50px;
    padding: 0 20px;
    width: 300px;
}

input::placeholder {
    color: white;
    font-size: medium;
    padding: 0 10px;
}

input:focus {
    border: none;
}