.dash-page-main-div {
    align-items: center;
    background-image: url('../../../assets/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.dash-page-main-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.start-game-btn, .ranking-btn, .tutorial-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 310px;
}

.start-game-btn {
    background-image: url('../../../assets/large-yellow-btn-background.png');
}

.start-game-btn:hover {
    background-image: url('../../../assets/large-yellow-btn-background.png');
}

.ranking-btn {
    background-image: url('../../../assets/yellow-btn-ranking.png');
}

.ranking-btn:hover {
    background-image: url('../../../assets/yellow-btn-ranking-hover.png');
}

.tutorial-btn {
    background-image: url('../../../assets/yellow-btn-comojogar.png');
}

.tutorial-btn:hover {
    background-image: url('../../../assets/yellow-btn-comojogar-hover.png');
}



.logout-btn {
    background-image: url('../../../assets/red-btn-sair.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 165px;
}

.logout-btn:hover {
    background-image: url('../../../assets/red-btn-sair-hover.png');
}