@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    animation: tilt 0.5s ease-in-out;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}

.google-btn {
    height: 50px;
    width: 350px;
}