.google-sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    position: relative;
    text-align: center;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 35%;
}

.google-sign-in-button:hover {
    background-color: #f6f9fe;
    border-color: #d2e3fc;
    box-shadow: 0 1px 3px 0 rgba(66,64,67,.15), 0 1px 2px 0 rgba(60,64,67,.3);
}

.google-sign-in-button:focus {
    border-color: #4285f4;
    box-shadow: 0 1px 3px 0 rgba(66,64,67,.15), 0 1px 2px 0 rgba(60,64,67,.3);
}

.google-sign-in-button:active {
    background-color: #f4f8ff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.google-sign-in-button .google-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.google-sign-in-button .button-text {
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}