.ranking-page-container {
    align-items: center;
    background-image: url('../../../assets/main-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    justify-content: center;
    width: 100vw;
}

.rankings-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40vh;
    justify-content: space-around;
    margin-top: 4rem;
    width: 80vw;
}

.ranking-div {
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    justify-content: flex-start;
    padding: 30px 10px;
    text-align: center;
    width: 20%;
}

.ranking-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    justify-content: flex-start;
    padding: 30px 10px;
    text-align: center;
    width: 70%;
}

.rp-back-btn {
    background-image: url('../../../assets/yellow-btn-voltar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 165px;
}

.rp-back-btn:hover {
    background-image: url('../../../assets/yellow-btn-voltar-hover.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: large;
    height: 70px;
    width: 165px;
}